<hr class="w-75 opacity-100 mx-auto safer-green-color">
<footer class="p-2 mt-2">
  <div class="d-flex flex-column gap-2 align-items-center h-100">
    <div class="text-center">
      <h4 class="fw-semibold">PROJECT PARTNERS</h4>
      <p>ASSET Puglia | Southern Apennines District Basin Authority | Center for Security Studies |  
National Technical University of Athens - Research Committee | Municipality of Ithaki</p>
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center gap-3">
      <img class="img-fluid custom-size" src="assets/partners/LP_ASSET_Logo_NoBG.png" alt="Asset Puglia">
      <img class="img-fluid custom-size-larger" src="assets/partners/PB2_SOUTHERN APENNINES DISTRICT BASIN AUTHORITY.png" alt="Southern Apennines District Basin Authority">
      <img class="img-fluid custom-size" src="assets/partners/PB3_KEMEA.png" alt="Center for Security Studies">
      <img class="img-fluid custom-size" src="assets/partners/PB4_NATIONAL TECHNICAL UNIVERSITY OF ATHENS - RESEARCH COMMITTEE.png" alt="National Technical University of Athens - Research Committee">
      <img class="img-fluid custom-size" src="assets/partners/PB5_ITHACA.png" alt="Municipality of Ithaki">
    </div>
  </div>
</footer>
