<hr class="w-75 opacity-100 mx-auto safer-green-color">

<div class="text-center">
  <img class="img-fluid w-50" src="assets/logo/safer-header.png" alt="Safer Project Details">
</div>  
<div class="p-2">
  <h4 class="fw-semibold">OVERVIEW</h4>

  <p>
    SAFER tackles one of Europe’s most urgent challenges: floods, landslides, storms, wildfires, and coastal erosion threatening Southern Italy and Greece. Its mission: anticipate, alert, prepare. The SAFER Observatory will unite experts and authorities to share data and foresee risks. The SAFER Platform, powered by AI and real-time monitoring, will deliver early warnings and guide decisions through pilot tests in Apulia, Calabria, Basilicata, and Ithaca. Finally, guidelines, toolkits, training, and awareness campaigns will ensure institutions and communities are ready to act.
  </p> 
</div>